{% extends 'main/base.html' %}
{% load static i18n translation_tags %}

{% block title %}Главная - Adaptation AlmaU{% endblock %}

{% block content %}
<div class="dashboard-container dashboard-page">
    {% include 'main/sidebar.html' %}
    
    <div class="main-content" id="mainContent" style="position: relative;">
         
        <div class="memo-container">
            <div class="content-header">
                <div class="greeting">
                    <h1>{{ greeting }}, {{ user_name }}!</h1>
                </div>
            </div>
            
            <div class="dashboard-grid">
                <a href="{% url 'main:about' %}" class="dashboard-link">
                    <h3 class="dashboard-link__title">{% trans "Об университете" %}</h3>
                    <img src="{% static 'images/1.svg' %}" alt="{% trans 'Об университете' %}" class="dashboard-img">
                </a>
    
                <a href="{% url 'main:lessons' %}" class="dashboard-link">
                    <h3 class="dashboard-link__title">{% trans "Инструкции по работе" %}</h3>
                    <img src="{% static 'images/2.svg' %}" alt="{% trans 'Об университете' %}" class="dashboard-img">
                </a>
    
                <a href="{% url 'main:documents' %}" class="dashboard-link">
                    <h3 class="dashboard-link__title">{% trans "Документация" %}</h3>
                    <img src="{% static 'images/3.svg' %}" alt="{% trans 'Об университете' %}" class="dashboard-img">
                </a>
    
                <a href="{% url 'main:tour' %}" class="dashboard-link">
                    <h3 class="dashboard-link__title">{% t "3D тур по университету" %}</h3>
                    <img src="{% static 'images/4.svg' %}" alt="{% trans 'Об университете' %}" class="dashboard-img">
                </a>
    
                <a href="{% url 'main:faq' %}" class="dashboard-link">
                    <h3 class="dashboard-link__title">{% trans "Часто задаваемые вопросы" %}</h3>
                    <img src="{% static 'images/5.svg' %}" alt="{% trans 'Об университете' %}" class="dashboard-img">
                </a>
    
                <a href="{% url 'main:feedback' %}" class="dashboard-link">
                    <h3 class="dashboard-link__title">{% trans "Обратная связь" %}</h3>
                    <img src="{% static 'images/6.svg' %}" alt="{% trans 'Об университете' %}" class="dashboard-img">
                </a>
    
            </div>
            
        </div>
    </div>
    
</div>

{% endblock %}
