{% extends 'main/base.html' %}
{% load static i18n %}
{% load document_filters %}

{% block title %}{{ title }} - Adaptation AlmaU{% endblock %}

{% block content %}
<div class="dashboard-container">
    {% include 'main/sidebar.html' %}
    <div class="main-content" id="mainContent">

        <div class="doc-desktop">

            <div class="content-header">
                <a href="{% url 'main:documents' %}" class="secondary-back" aria-label="{% trans 'Назад' %}">&#x2039;</a>
                <h1>{{ title }}</h1>
            </div>

            <p class="doc-desktop__documentation">{% trans "Документация" %}</p>

            <div>
                <p class="doc-desktop__category">{{ document.category|get_category_name:request.LANGUAGE_CODE|default:document.category.name }}</p>
            </div>

            {% if description %}
                <div class="doc-desktop__description">{{ description|linebreaks }}</div>
            {% endif %}

            <div class="doc-desktop__container__iframe">
                {% if file_url %}
                    <iframe src="{{ file_url }}" class="doc-desktop__iframe"></iframe>
                {% else %}
                    <p>{% trans 'Файл недоступен' %}</p>
                {% endif %}
            </div>

            {% if file_url %}
                <div >
                    <a href="{{ file_url }}" download class="doc-desktop__btn">{% trans 'Скачать PDF' %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


