{% load document_filters %}
{% load i18n %}
{% load translation_tags %}

{% if documents %}
    {% for document in documents %}
        <div class="document-card">
            <div class="document-info">
                <h3 class="document-title">{{ document|get_title:current_language }}</h3>
                <div class="document-category">{{ document.category|get_category_name:current_language }}</div>
            </div>
            <div>
                <a href="{% url 'main:document_detail' document.id %}" class="download-btn">{% trans "Открыть" %}</a>
            </div>
        </div>
    {% endfor %} 
    {% else %}
        <div class="no-documents">
            <i class="fas fa-file-alt"></i>
            <h3>{% t "Документы не найдены" %}</h3>
            <p>
                {% if search_query or current_category %}
                    {% t "Попробуйте изменить критерии поиска" %} {% t "или очистить фильтры" %}.
                {% else %}
                    {% t "В данный момент документы отсутствуют" %}.
                {% endif %}
            </p>
        </div>
{% endif %}