{% load i18n %}
{% load document_filters %}

{% if faqs %}
    {% for faq in faqs %}
        <div class="faq-item">
            <div class="faq-question" data-faq-id="{{ faq.id }}">
                <h3 class="faq-question-text">{{ faq|get_faq_question:current_language }}</h3>
                <i class="fas fa-chevron-down faq-expand-icon"></i>
            </div>
            <!-- <div class="faq-meta"> -->
                <span class="faq-category">{{ faq.category|get_category_name:current_language }}</span>
            <div class="faq-answer">
                <p class="faq-answer-text">{{ faq|get_faq_answer:current_language|linebreaks }}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="no-faq">
        <i class="fas fa-file-alt"></i>
        <h3>{% trans "Документы не найдены" %}</h3>
        <p>
            {% if search_query or current_category %}
                {% trans "Попробуйте изменить критерии поиска" %} {% trans "или очистить фильтры" %}.
            {% else %}
                {% trans "В данный момент документы отсутствуют" %}.
            {% endif %}
        </p>
    </div>
{% endif %} 